:root {
    --color-primary: #303030;
    --color-border: #6b5151;
    --color-white: #f2f2fe;
    --color-bg: #222121;
    --color-bg-light: #534b4b;
    --color-black: #000000;

    --transition: all 200ms ease;
}

/* ============================================== GENERAL ============================================== */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-weight: 200;
    line-height: 1.6;
    color: var(--color-white);
    overflow-x: hidden;
    background-color: var(--color-bg);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ============================================== HEADER ============================================== */

.header__container{
    width: 100%;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    position: relative;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.header {
    font-family: 'Tilt Prism', cursive;
}

.signin {
    position: absolute;
    top: 15%;
    right: 1%;
    font-family: 'Roboto', sans-serif;
    color: rgb(204, 204, 204);
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.1rem 0.5rem 0.1rem 0.1rem;
    transition: var(--transition);
}

.signin:hover {
    background-color: var(--color-bg-light);
}

.signin:active {
    background-color: var(--color-primary);
}

.signin img {
    width: 2.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}

/* ============================================== ADD TODO ============================================== */
.add__todo {
    position: relative;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    background-color: var(--color-bg);
    width: 40rem;
    /* max-width: 40rem;
    min-width: 30rem; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.274);
}

input.title {
    font-family: inherit;
    padding: 0.8rem 1.4rem;
    background-color: var(--color-bg);
    color: var(--color-white);
    width: 100%;
    font-weight: 900;
    border-radius: 0.5rem 0.5rem 0 0;
    /* border-bottom: 1px solid var(--color-border); */
}

textarea.description {
    font-family: inherit;
    padding: 0.8rem 1.4rem;
    background-color: var(--color-bg);
    border-radius: 0.5rem;
    color: var(--color-white);
    width: 100%; 
    padding-bottom: 6rem;
    /* border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 1px solid var(--color-border); */
}

textarea {
    resize: vertical;
}

.select__container {
    padding-left: 0.5rem;
    padding-bottom: 0.4rem;
}

.select__project {
    padding-bottom: 0;
    position: absolute;
    left: 18%;
    bottom: 3%;
}

.select {
    position: relative;
    display: flex;
    width: 7rem;
    height: 1.5rem;
    line-height: 3;
    background-color: var(--color-bg);
    overflow: hidden;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.274);
    border: 1px solid var(--color-border);
    border-radius: 0.3rem;
}

.select::after {
    content: '\2304';
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    padding: 0 0.5rem;
    cursor:pointer;
    pointer-events:none;
    transition: 0.25s all ease;
}

.select:hover::after {
    color: #b1b1b1;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    background-color: var(--color-bg);
    flex: 1;
    padding: 0 .5rem;
    color: var(--color-white);
    cursor:pointer;
    /* font-size: 0.8rem; */
    font-family: inherit;
    font-weight: 400;
    transition: 0.25s all ease;
}

select::-ms-expand {
    display: none;
}

select:hover {
    color: #b1b1b1;
}

/* .set__priority {
    display: flex;
    flex-direction: row;
    font-size: small;
    margin-left: 1.4rem;
    margin-bottom: 0.5rem;
} */

.add__duedate__container {
    position: absolute;
    bottom: 3%;
    left: 42%;
    display: flex;
    align-items: center;
    font-size: small;
}

.add__duedate {
    width: 140px;
    padding: 5px;
    height: 24px;
    display: block;
    background-color: var(--color-bg);
    color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 0.4rem;
}

::-webkit-calendar-picker-indicator {
    margin-left: 0.35em;
    filter: invert(48%) sepia(30%) saturate(0%) hue-rotate(203deg) brightness(90%) contrast(95%);
    cursor: pointer;
}
::-webkit-calendar-picker-indicator:hover {
    filter: invert(60%) sepia(100%) saturate(1854%) hue-rotate(3deg) brightness(107%) contrast(106%);
}

::-webkit-datetime-edit-text { color: var(--color-white); padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: var(--color-white); }
::-webkit-datetime-edit-day-field { color: var(--color-white); }
::-webkit-datetime-edit-year-field { color: var(--color-white); }

/* .shown__priority{
    border: 1px solid var(--color-border);
    border-radius: 0.3rem;
    background-color: var(--color-bg);
    color: var(--color-white);
    font: inherit;
    margin-left: 0.3rem;
    padding: 0rem 0.3rem;
    cursor: pointer;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.274);
}

.hidden__priority {
    position: fixed;
    border: 1px solid var(--color-border);
    border-radius: 0.3rem;
    margin-left: 0.3rem;
    background-color: var(--color-bg);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.377);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    z-index: 3;
}

.show__priorities {
    visibility: visible;
    opacity: 1;
}

.hidden__priority__item {
    width: 100%;
    background-color: var(--color-bg);
    color: var(--color-white);
    font: inherit;
    padding: 0 0.3rem;
    cursor: pointer;
}

.hidden__priority__item:hover {
    background-color: var(--color-bg-light);
    cursor: pointer;
}

.set__project {
    position: absolute;
    left: 15%;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    font-size: small;
    margin-left: 1.4rem;
    margin-bottom: 0.5rem;
}

.shown__project {
    border: 1px solid var(--color-border);
    border-radius: 0.3rem;
    background-color: var(--color-bg);
    color: var(--color-white);
    font: inherit;
    margin-left: 0.3rem;
    padding: 0rem 0.3rem;
    cursor: pointer;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.274);
}

.hidden__project {
    position: fixed;
    border: 1px solid var(--color-border);
    border-radius: 0.3rem;
    margin-left: 0.3rem;
    background-color: var(--color-bg);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.377);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    z-index: 3;
}

.hidden__project__item {
    width: 100%;
    background-color: var(--color-bg);
    color: var(--color-white);
    font: inherit;
    padding: 0 0.3rem;
    cursor: pointer;
}

.hidden__project__item:hover {
    background-color: var(--color-bg-light);
    cursor: pointer;
}

.show__projects {
    visibility: visible;
    opacity: 1;
} */

.btn {
    position: absolute;
    right: 0.5rem;
    bottom: 3%;
    font: inherit;
    /* font-weight: 400; */
    color: #d4d4d4;
    padding: 0.4rem 0.6rem;
    background-color: rgb(41, 40, 40);
    border-radius: 0.4rem;
    border: 1px solid var(--color-border);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.253);
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--color-bg-light);
}

.btn:active {
    background-color: var(--color-primary);
}

/* ============================================== PROJECTS ============================================== */

.project__container {
    width: 75%;
    margin: 3rem 2rem 0.5rem 1rem;
    display: flex;
    justify-content: left;
}

.project__button {
    background-color: var(--color-bg);
    color: #b8b1b1;
    font-size: 2rem;
    cursor: pointer;
}

.projects__label {
    padding: 0.1rem 0 0.1rem 0.5rem;
}

.projects {
    font-family: inherit;
    font-weight: 400;
}

.shown {
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.1rem 0.5rem;
    cursor: pointer;
    /* transition: var(--transition); */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.274);
}

.hidden {
    position: fixed;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    margin-left: 1rem;
    background-color: var(--color-bg);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.377);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    z-index: 10;
}

.show__projects {
    visibility: visible;
    opacity: 1;
}

.hidden li {
    padding: 0.3rem 0.7rem 0 0.7rem; 
}

.hidden li:last-child {
    padding-bottom: 0.3rem;
}

.hidden li:hover {
    background-color: var(--color-bg-light);
}

.projects li {
    color: var(--color-white);
    cursor: pointer;
}

/* ============================================== TODO LIST ============================================== */

.todo__container {
    margin: 0 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.todo__wrapper {
    margin: 0.5rem;
    max-width: 15rem;
    min-width: 15rem;
    padding: 1rem 1.2rem;
    background-color: var(--color-bg);
    position: relative;
}

.todo__wrapper__animation {
    transition: var(--transition);
    cursor: pointer;
}

.todo__wrapper__animation:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.todo__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 0.5rem;
    z-index: 2;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
}

.todo__overlay__loaded {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 0.5rem;
    z-index: 3;
    border: none;
    transition: none;
    transform: none;
    cursor: default;
    background-color: var(--color-bg);
    border: 1px solid var(--color-bg);
    border-radius: 0.5rem;
}

.todo__title {
    margin-bottom: 0.3rem;
    font-weight: 400;
}

.duedate {
    margin: 0.5rem 0;
    font-size: small;
    font-weight: 400;
}

.priority {
    font-size: small;
    font-weight: 400;
}

.edit {
    position: absolute;
    right: 0.3rem;
    bottom: 3%;
    font: inherit;
    /* font-weight: 400; */
    color: #d4d4d4;
    padding: 0.4rem 0.6rem;
    background-color: rgb(41, 40, 40);
    border-radius: 0.4rem;
    border: 1px solid var(--color-border);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.253);
    cursor: pointer;
    transition: var(--transition);
    z-index: 15;
}

.edit:hover {
    background-color: var(--color-bg-light);
}

.edit:active {
    background-color: var(--color-primary);
}

.edit__form {
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.418);
    z-index: 10;
    position: fixed;
    top: 30%;
}

.underlay {
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
}